extends ../layout

block content
	.fdb-block(style="padding: 0; background-image: url(../../images/alt_wide_1.svg)")
		h1 Events
		table.table.table-hover
			thead
				tr
					th Title
					th Location
					th Starts
					th Organizer name
					th Ticket price
			tbody
				each event in events
					tr
						td 
							a(href=`/events/${event._id}`)= event.title
						td= event.location
						td #{moment(event.starts).format('YYYY-MM-DD')}
						td= event.organizerName
						if event.ticketType!='free'
							td= event.ticketPrice
						else
							td= event.ticketType
		a.btn.btn-primary(href='create') #[i.fa.fa-plus] Register a new event