extends ../layout

block content
	.fdb-block(style="padding: 0")
		h1 Events
		table.table.table-hover
			thead
				tr
					th Title
					th Location
					th Starts
					th Organizer name
					th Ticket price
			tbody
				each event in events
					tr
						td 
							a(href=`/events/${event._id}`)= event.title
						//- td= event.title
						td= event.location
						td= event.starts
						td= event.organizerName
						td= event.ticketPrice
		a.btn.btn-primary(href='create') #[i.fa.fa-plus] Register a new event