extends ../layout

block content
  .fdb-block(style="padding: 0; background-image: url(../../images/alt_wide_1.svg)")
    h1.main-title= event.title

    dl.row
      dt.col-sm-3 Author
      dd.col-sm-9= user.email

      dt.col-sm-3 Location
      dd.col-sm-9= event.location

      dt.col-sm-3 Starts
      dd.col-sm-9 #{moment(event.starts).format('YYYY-MM-DD HH:MM')}

      dt.col-sm-3 Ends
      dd.col-sm-9 #{moment(event.ends).format('YYYY-MM-DD HH:MM')}

      dt.col-sm-3 Event Description
      dd.col-sm-9= event.eventDescription

      dt.col-sm-3 Organizer Name
      dd.col-sm-9= event.organizerName

      dt.col-sm-3 Organizer Description
      dd.col-sm-9= event.organizerDescription

      dt.col-sm-3 Event Type
      dd.col-sm-9= event.eventType

      dt.col-sm-3 Event Topic
      dd.col-sm-9= event.eventTopic

      dt.col-sm-3 Ticket Type
      dd.col-sm-9= event.ticketType

      dt.col-sm-3 Ticket Price
      dd.col-sm-9= event.ticketPrice

      dt.col-sm-3 Participants
      dd.col-sm-9= event.participants

    hr
    p
      a.btn.btn-black.btn-empty(href=`/events/${event._id}/participate`) Participate
