extends ../layout

block content
  .fdb-block(style="padding: 0; background-image: url(../../images/alt_wide_3.svg)")
    h1.main-title= user.name
          
    dl.row
      dt.col-sm-3 Email
      dd.col-sm-9
        a(href=`mailto:${user.email}`)= user.email

      dt.col-sm-3 Created At
      dd.col-sm-9= user.createdAt

    p
      a.btn.btn-black.btn-empty(href=`/users/${user._id}/edit`) Edit
      | 
      a.btn.btn-black.btn-empty(href=`/users/${user._id}?_method=DELETE`) Delete

    hr
    h2 My events
    table.table.table-hover
      thead
        tr
          th Title
          th Location
          th Starts
          th Organizer name
          th Ticket price
          th
      tbody
        each event in myEvents
          tr
            td 
              a(href=`/events/${event._id}/admin`)= event.title
            td= event.location
            td #{moment(event.starts).format('YYYY-MM-DD')}
            td= event.organizerName
            if event.ticketType!='free'
              td= event.ticketPrice
            else
              td= event.ticketType
            td
              a.btn.btn-black.btn-empty(href=`/events/${event._id}/participantsList`) participants list

    hr
    h2 Favorite
    table.table.table-hover
      thead
        tr
          th Title
          th Location
          th Starts
          th Organizer name
          th Ticket price
          th
      tbody
        each fEvent in fEvents
          tr
            td 
              a(href=`/events/${fEvent._id}`)= fEvent.title
            td= fEvent.location
            td #{moment(fEvent.starts).format('YYYY-MM-DD')}
            td= fEvent.organizerName
            if fEvent.ticketType!='free'
              td= fEvent.ticketPrice
            else
              td= fEvent.ticketType
            